.editor-container {
  margin: auto;
  padding-top: 1em;
  width: fit-content;
}

.editor-label {
  text-align: left;
  padding: 1rem;
  margin: 0;
  display: block;
  background-color: rgb(180, 180, 180);
  width: 100%;
}
.editor-textarea {
  background-color: rgb(220, 220, 220);
  color: black;
  width: 50vw;
  height: 30vh;
}