.preview-container {
  margin: auto;
  padding-top: 1em;
  width: fit-content;
}

.preview-label {
  text-align: left;
  padding: 1rem;
  margin: 0;
  display: block;
  background-color: rgb(180, 180, 180);
  width: 100%;
}

.preview-display {
  background-color: rgb(224, 224, 224);
  width: 70vw;
  height: 55vh;
}